[submodule "thirdparty/rpi_ws281x"]
	path = thirdparty/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "thirdparty/easyloggingpp"]
	path = thirdparty/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp
[submodule "include/readerwriterqueue"]
	path = include/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://github.com/chriskohlhoff/asio
